##### Dateoffset()

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [3]:
from pandas_datareader import data as wb

In [10]:
tickers = ['TSLA']
start = "2017, 01, 01"
myData = pd.DataFrame()
for ticker in tickers:
    myData = wb.DataReader(ticker, data_source='google', start=start)

In [12]:
myData.head(2)

              Open    High     Low   Close    Volume
Date
2017-01-03  214.86  220.33  210.96  216.99   5923254
2017-01-04  214.75  228.00  214.31  226.99  11213471

In [13]:
myData.index

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2017-05-31', '2017-06-01', '2017-06-02', '2017-06-05',
               '2017-06-06', '2017-06-07', '2017-06-08', '2017-06-09',
               '2017-06-12', '2017-06-13'],
              dtype='datetime64[ns]', name='Date', length=112, freq=None)

##### If you wanted to add 5 days to each date entry
- days = 
- weeks = 
- months = 
- you can also subtract by replacing the + with the -

In [14]:
myData.index + pd.DateOffset(days=5)

DatetimeIndex(['2017-01-08', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-14', '2017-01-15', '2017-01-16', '2017-01-17',
               '2017-01-18', '2017-01-22',
               ...
               '2017-06-05', '2017-06-06', '2017-06-07', '2017-06-10',
               '2017-06-11', '2017-06-12', '2017-06-13', '2017-06-14',
               '2017-06-17', '2017-06-18'],
              dtype='datetime64[ns]', name='Date', length=112, freq=None)