In [1]:
import pandas as pd

In [6]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [7]:
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

##### apply() with a Series

In [10]:
g = pd.read_csv('google_stock_price.csv', squeeze = True)
g.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

##### Step 1: create a function

In [12]:
def classify_performance(number):
    if number < 300:
        return "Ok"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible"

##### Implement apply() pass thru the function

In [13]:
g.apply(classify_performance)

0               Ok
1               Ok
2               Ok
3               Ok
4               Ok
5               Ok
6               Ok
7               Ok
8               Ok
9               Ok
10              Ok
11              Ok
12              Ok
13              Ok
14              Ok
15              Ok
16              Ok
17              Ok
18              Ok
19              Ok
20              Ok
21              Ok
22              Ok
23              Ok
24              Ok
25              Ok
26              Ok
27              Ok
28              Ok
29              Ok
           ...
2982    Incredible
2983    Incredible
2984    Incredible
2985    Incredible
2986    Incredible
2987    Incredible
2988    Incredible
2989    Incredible
2990    Incredible
2991    Incredible
2992    Incredible
2993    Incredible
2994    Incredible
2995    Incredible
2996    Incredible
2997    Incredible
2998    Incredible
2999    Incredible
3000    Incredible
3001    Incredible
3002    Incredible
3003    Incredible
3004    Incredible
3005    Incredible
3006    Incredible
3007    Incredible
3008    Incredible
3009    Incredible
3010    Incredible
3011    Incredible
Name: Stock Price, dtype: object

##### Pass thru the function with a lambda expression

In [16]:
g.apply(lambda x: x + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, dtype: float64

In [20]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace = True)
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

##### Convert numbers to strings

In [21]:
def conv_to_string_add_mm(number):
    return str(number)+'mm'

In [23]:
bond["Box Office"].apply(conv_to_string_add_mm)

Film
A View to a Kill                   275.2mm
Casino Royale                      581.5mm
Casino Royale                      315.0mm
Diamonds Are Forever               442.5mm
Die Another Day                    465.4mm
Dr. No                             448.8mm
For Your Eyes Only                 449.4mm
From Russia with Love              543.8mm
GoldenEye                          518.5mm
Goldfinger                         820.4mm
Licence to Kill                    250.9mm
Live and Let Die                   460.3mm
Moonraker                          535.0mm
Never Say Never Again              380.0mm
Octopussy                          373.8mm
On Her Majesty's Secret Service    291.5mm
Quantum of Solace                  514.2mm
Skyfall                            943.5mm
Spectre                            726.7mm
The Living Daylights               313.5mm
The Man with the Golden Gun        334.0mm
The Spy Who Loved Me               533.0mm
The World Is Not Enough            439.5mm
Thunderball                        848.1mm
Tomorrow Never Dies                463.2mm
You Only Live Twice                514.2mm
Name: Box Office, dtype: object

##### Convert specified multiple columns using apply()

In [24]:
bond.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [25]:
columns = ['Box Office', 'Budget', 'Bond Actor Salary']
for col in columns:
    bond[col] = bond[col].apply(conv_to_string_add_mm)

In [26]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2mm,54.5mm,9.1mm
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5mm,145.3mm,3.3mm
Casino Royale,1967,David Niven,Ken Hughes,315.0mm,85.0mm,nanmm
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5mm,34.7mm,5.8mm
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4mm,154.2mm,17.9mm

##### apply() with row values
##### must pass: axis = "columns"

In [28]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace = True)
bond.head(2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3

In [29]:
def good_movie(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "Best"
    elif actor == 'Roger Moore' and budget > 40:
        return "Enjoyable"
    else:
        return "No Opinion"

In [30]:
bond.apply(good_movie, axis="columns")

Film
A View to a Kill                    Enjoyable
Casino Royale                      No Opinion
Casino Royale                      No Opinion
Diamonds Are Forever               No Opinion
Die Another Day                          Best
Dr. No                             No Opinion
For Your Eyes Only                  Enjoyable
From Russia with Love              No Opinion
GoldenEye                                Best
Goldfinger                         No Opinion
Licence to Kill                    No Opinion
Live and Let Die                   No Opinion
Moonraker                           Enjoyable
Never Say Never Again              No Opinion
Octopussy                           Enjoyable
On Her Majesty's Secret Service    No Opinion
Quantum of Solace                  No Opinion
Skyfall                            No Opinion
Spectre                            No Opinion
The Living Daylights               No Opinion
The Man with the Golden Gun        No Opinion
The Spy Who Loved Me                Enjoyable
The World Is Not Enough                  Best
Thunderball                        No Opinion
Tomorrow Never Dies                      Best
You Only Live Twice                No Opinion
dtype: object