##### Contains
##### all NaN must be dropped prior to operation
- Filtering with String Methods
- Lecture 89

In [1]:
import pandas as pd

In [4]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [15]:
df = pd.read_csv('chicago.csv').dropna(how='all')
df.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$84450.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$84450.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$89880.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$106836.00

In [16]:
mask = df['Position Title'].str.lower().str.contains('water')
df[mask]

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
554,"ALUISE, VINCENT G",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
671,"ANDER, PERRY A",WATER CHEMIST II,WATER MGMNT,$82044.00
685,"ANDERSON, ANDREW J",DISTRICT SUPERINTENDENT OF WATER DISTRIBUTION,WATER MGMNT,$109272.00
702,"ANDERSON, DONALD",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
1054,"ASHLEY, KARMA T",WATER CHEMIST II,WATER MGMNT,$82044.00
1079,"ATKINS, JOANNA M",WATER CHEMIST II,WATER MGMNT,$82044.00
1181,"AZEEM, MOHAMMED A",WATER CHEMIST II,WATER MGMNT,$53172.00
1285,"BAJIC, JOHN A",WATER METER MACHINIST,WATER MGMNT,$82576.00
2400,"BOLTON, BRIAN E",WATER RATE TAKER,WATER MGMNT,$78948.00
2586,"BOYCE, ADNER L",WATER CHEMIST II,WATER MGMNT,$82044.00
2745,"BRANDYS, DANIEL",WATER CHEMIST II,WATER MGMNT,$53172.00
3143,"BROWN, SHARON L",WATER RATE TAKER,WATER MGMNT,$82728.00
3246,"BUCHANAN, ANTHONY L",WATER CHEMIST II,WATER MGMNT,$66780.00
3456,"BURT, CARL S",WATER RATE TAKER,WATER MGMNT,$90744.00
3626,"CAGE, OPHELIA",WATER RATE TAKER,WATER MGMNT,$90744.00
3663,"CALDERONE, MICHAEL P",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
4889,"CLARK, MARK A",WATER METER MACHINIST,WATER MGMNT,$82576.00
5506,"COOPER JR, EDDIE",WATER CHEMIST II,WATER MGMNT,$82044.00
6337,"DAVENPORT, CLARENCE",WATER METER MACHINIST,WATER MGMNT,$82576.00
6421,"DAVIS III, WALLACE",GEN SUPT OF WATER MANAGEMENT,WATER MGMNT,$119208.00
6564,"DECALUWE, STANLEY J",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
6954,"DIAZ, OSCAR A",WATER RATE TAKER,WATER MGMNT,$90744.00
7356,"DOWDY, TIMOTHY J",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
7463,"DRIVER, CLAUDE A",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
7641,"DURANT, PATRICIA B",WATER RATE TAKER,WATER MGMNT,$90744.00
7650,"DURHAM, PATRICK L",WATER METER MACHINIST,WATER MGMNT,$82576.00
8092,"ESPINOSA, RODOLFO",WATER RATE TAKER,WATER MGMNT,$78948.00
8660,"FITZPATRICK, CHARLES W",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
9325,"GAITHER, RASHEDA K",CHIEF WATER CHEMIST,WATER MGMNT,$96840.00
...,...,...,...,...
23187,"QUINTANILLA, EDWIN",WATER CHEMIST II,WATER MGMNT,$70152.00
24003,"RIOS, FRANCISCO",WATER RATE TAKER,WATER MGMNT,$78948.00
24178,"ROBERTS, AKILAH",WATER CHEMIST II,WATER MGMNT,$66780.00
24266,"ROBINSON, JERRY",WATER METER ASSESSOR,WATER MGMNT,$90744.00
24422,"RODRIGUEZ, EDWARD L",WATER METER ASSESSOR,WATER MGMNT,$78948.00
24501,"RODRIGUEZ, MARCO A",WATER RATE TAKER,WATER MGMNT,$90744.00
24945,"RUDMIN, KENNETH D",WATER QUALITY INSPECTOR I/C,WATER MGMNT,$65172.00
25055,"RUSSNAK, THOMAS W",WATER METER ASSESSOR,WATER MGMNT,$90744.00
25233,"SALEH, HASSEN",DIR OF WATER PURIFICATION LABORATORIES,WATER MGMNT,$109008.00
25260,"SALINAS, EDUARDO S",ENGINEER OF WATER PURIFICATION,WATER MGMNT,$118656.00
26372,"SIDDIQUI, ABDURRAZZAQ",WATER CHEMIST III,WATER MGMNT,$89676.00
26519,"SIMS, DEMETRIUS",WATER RATE TAKER,WATER MGMNT,$90744.00
26625,"SKOWRON, JOHN",WATER RATE TAKER,WATER MGMNT,$90744.00
26871,"SMITH, NANCY A",WATER RATE TAKER,WATER MGMNT,$90744.00
27015,"SOJKA, JEFFREY A",WATER METER ASSESSOR,WATER MGMNT,$90744.00
27368,"STANG, CHRISTOPHER",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
27537,"STEVENSON JR, WALTER",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
27635,"STOKES, CAROLYN M",WATER CHEMIST II,WATER MGMNT,$82044.00
27755,"STROUD JR, JAMES E",WATER METER MACHINIST,WATER MGMNT,$82576.00
28185,"TATE, GARY",WATER RATE TAKER,WATER MGMNT,$82728.00
28443,"THOMAS, HOWARD",WATER RATE TAKER,WATER MGMNT,$78948.00
28574,"THREATT, DENISE R",WATER QUALITY INSPECTOR,WATER MGMNT,$62004.00
28602,"TIGNOR, DARRYL B",WATER RATE TAKER,WATER MGMNT,$78948.00
28955,"TRAVIS COOK, LESLIE R",WATER RATE TAKER,WATER MGMNT,$78948.00
29584,"VELAZQUEZ, JOHN",WATER RATE TAKER,WATER MGMNT,$78948.00
29669,"VERMA, ANUPAM",MANAGING ENGINEER - WATER MANAGEMENT,WATER MGMNT,$111192.00
30239,"WASHINGTON, JOSEPH",WATER CHEMIST III,WATER MGMNT,$89676.00
30544,"WEST, THOMAS R",GEN SUPT OF WATER MANAGEMENT,WATER MGMNT,$115704.00
30991,"WILLIAMS, MATTHEW",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
31405,"WOODRIDGE, ROBERT L",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00

In [18]:
mask = df['Position Title'].str.lower().str.contains('water')
sf = df[mask]

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
554,"ALUISE, VINCENT G",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
671,"ANDER, PERRY A",WATER CHEMIST II,WATER MGMNT,$82044.00
685,"ANDERSON, ANDREW J",DISTRICT SUPERINTENDENT OF WATER DISTRIBUTION,WATER MGMNT,$109272.00
702,"ANDERSON, DONALD",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
1054,"ASHLEY, KARMA T",WATER CHEMIST II,WATER MGMNT,$82044.00
1079,"ATKINS, JOANNA M",WATER CHEMIST II,WATER MGMNT,$82044.00
1181,"AZEEM, MOHAMMED A",WATER CHEMIST II,WATER MGMNT,$53172.00
1285,"BAJIC, JOHN A",WATER METER MACHINIST,WATER MGMNT,$82576.00
2400,"BOLTON, BRIAN E",WATER RATE TAKER,WATER MGMNT,$78948.00
2586,"BOYCE, ADNER L",WATER CHEMIST II,WATER MGMNT,$82044.00
2745,"BRANDYS, DANIEL",WATER CHEMIST II,WATER MGMNT,$53172.00
3143,"BROWN, SHARON L",WATER RATE TAKER,WATER MGMNT,$82728.00
3246,"BUCHANAN, ANTHONY L",WATER CHEMIST II,WATER MGMNT,$66780.00
3456,"BURT, CARL S",WATER RATE TAKER,WATER MGMNT,$90744.00
3626,"CAGE, OPHELIA",WATER RATE TAKER,WATER MGMNT,$90744.00
3663,"CALDERONE, MICHAEL P",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
4889,"CLARK, MARK A",WATER METER MACHINIST,WATER MGMNT,$82576.00
5506,"COOPER JR, EDDIE",WATER CHEMIST II,WATER MGMNT,$82044.00
6337,"DAVENPORT, CLARENCE",WATER METER MACHINIST,WATER MGMNT,$82576.00
6421,"DAVIS III, WALLACE",GEN SUPT OF WATER MANAGEMENT,WATER MGMNT,$119208.00
6564,"DECALUWE, STANLEY J",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
6954,"DIAZ, OSCAR A",WATER RATE TAKER,WATER MGMNT,$90744.00
7356,"DOWDY, TIMOTHY J",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
7463,"DRIVER, CLAUDE A",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
7641,"DURANT, PATRICIA B",WATER RATE TAKER,WATER MGMNT,$90744.00
7650,"DURHAM, PATRICK L",WATER METER MACHINIST,WATER MGMNT,$82576.00
8092,"ESPINOSA, RODOLFO",WATER RATE TAKER,WATER MGMNT,$78948.00
8660,"FITZPATRICK, CHARLES W",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
9325,"GAITHER, RASHEDA K",CHIEF WATER CHEMIST,WATER MGMNT,$96840.00
...,...,...,...,...
23187,"QUINTANILLA, EDWIN",WATER CHEMIST II,WATER MGMNT,$70152.00
24003,"RIOS, FRANCISCO",WATER RATE TAKER,WATER MGMNT,$78948.00
24178,"ROBERTS, AKILAH",WATER CHEMIST II,WATER MGMNT,$66780.00
24266,"ROBINSON, JERRY",WATER METER ASSESSOR,WATER MGMNT,$90744.00
24422,"RODRIGUEZ, EDWARD L",WATER METER ASSESSOR,WATER MGMNT,$78948.00
24501,"RODRIGUEZ, MARCO A",WATER RATE TAKER,WATER MGMNT,$90744.00
24945,"RUDMIN, KENNETH D",WATER QUALITY INSPECTOR I/C,WATER MGMNT,$65172.00
25055,"RUSSNAK, THOMAS W",WATER METER ASSESSOR,WATER MGMNT,$90744.00
25233,"SALEH, HASSEN",DIR OF WATER PURIFICATION LABORATORIES,WATER MGMNT,$109008.00
25260,"SALINAS, EDUARDO S",ENGINEER OF WATER PURIFICATION,WATER MGMNT,$118656.00
26372,"SIDDIQUI, ABDURRAZZAQ",WATER CHEMIST III,WATER MGMNT,$89676.00
26519,"SIMS, DEMETRIUS",WATER RATE TAKER,WATER MGMNT,$90744.00
26625,"SKOWRON, JOHN",WATER RATE TAKER,WATER MGMNT,$90744.00
26871,"SMITH, NANCY A",WATER RATE TAKER,WATER MGMNT,$90744.00
27015,"SOJKA, JEFFREY A",WATER METER ASSESSOR,WATER MGMNT,$90744.00
27368,"STANG, CHRISTOPHER",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
27537,"STEVENSON JR, WALTER",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
27635,"STOKES, CAROLYN M",WATER CHEMIST II,WATER MGMNT,$82044.00
27755,"STROUD JR, JAMES E",WATER METER MACHINIST,WATER MGMNT,$82576.00
28185,"TATE, GARY",WATER RATE TAKER,WATER MGMNT,$82728.00
28443,"THOMAS, HOWARD",WATER RATE TAKER,WATER MGMNT,$78948.00
28574,"THREATT, DENISE R",WATER QUALITY INSPECTOR,WATER MGMNT,$62004.00
28602,"TIGNOR, DARRYL B",WATER RATE TAKER,WATER MGMNT,$78948.00
28955,"TRAVIS COOK, LESLIE R",WATER RATE TAKER,WATER MGMNT,$78948.00
29584,"VELAZQUEZ, JOHN",WATER RATE TAKER,WATER MGMNT,$78948.00
29669,"VERMA, ANUPAM",MANAGING ENGINEER - WATER MANAGEMENT,WATER MGMNT,$111192.00
30239,"WASHINGTON, JOSEPH",WATER CHEMIST III,WATER MGMNT,$89676.00
30544,"WEST, THOMAS R",GEN SUPT OF WATER MANAGEMENT,WATER MGMNT,$115704.00
30991,"WILLIAMS, MATTHEW",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00
31405,"WOODRIDGE, ROBERT L",FOREMAN OF WATER PIPE CONSTRUCTION,WATER MGMNT,$102440.00