In [1]:
import pandas as pd
import datetime as dt

# Date method of the Datetime module

In [3]:
someday = dt.date(2016, 4, 12)

In [4]:
someday.year

2016

In [5]:
someday.day

12

# Datetime method

In [6]:
dt.datetime(2010, 1, 20)

datetime.datetime(2010, 1, 20, 0, 0)

In [7]:
dt.datetime(2010, 1, 20, 8)

datetime.datetime(2010, 1, 20, 8, 0)

In [8]:
dt.datetime(2010, 1, 20, 8, 13, 57)

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [10]:
dt.datetime(2010, 1, 20, 17, 12, 34)

datetime.datetime(2010, 1, 20, 17, 12, 34)

### str on a datetime

In [11]:
str(dt.datetime(2010, 1, 20, 17, 12, 34))

'2010-01-20 17:12:34'

In [12]:
dateObj = dt.datetime(2010, 1, 20, 17, 12, 34)

In [13]:
dateObj.year
dateObj.month
dateObj.day
dateObj.second

34

# Pandas Timestamp

In [14]:
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [15]:
pd.Timestamp("2015/08/07")

Timestamp('2015-08-07 00:00:00')

In [16]:
pd.Timestamp('2013, 11, 4')

Timestamp('2013-11-04 00:00:00')

In [19]:
obj = pd.Timestamp('2014-09-23 13:24:12')

In [20]:
type(obj)

pandas.tslib.Timestamp

## DatetimeIndex converts the date strings into pandas timestamp and store the strings into an object

In [22]:
dates = ['2016-01-12', '2016-02-12', '2016-03-12']
obj1 = pd.DatetimeIndex(dates)
obj1

DatetimeIndex(['2016-01-12', '2016-02-12', '2016-03-12'], dtype='datetime64[ns]', freq=None)

In [23]:
type(obj1)

pandas.tseries.index.DatetimeIndex

In [25]:
dates1 = [dt.date(2014, 1, 14), dt.date(2014, 2, 14), dt.date(2014, 3, 14)]
dt_index = pd.DatetimeIndex(dates1)

In [26]:
values = [100, 200, 300]
pd.Series(data = values, index = dt_index)

2014-01-14    100
2014-02-14    200
2014-03-14    300
dtype: int64

# Pd.to_datetime

In [28]:
s = pd.to_datetime("2009-02-01")
t = pd.to_datetime(dt.datetime(2008, 9, 12))

In [29]:
print(s)
print(t)

2009-02-01 00:00:00
2008-09-12 00:00:00

## Convert a series to a datetime

In [31]:
years = pd.Series(["2009-09-11", "2003/02/23", "2012", "July, 6th, 1998"])
years

0         2009-09-11
1         2003/02/23
2               2012
3    July, 6th, 1998
dtype: object

In [32]:
pd.to_datetime(years)

0   2009-09-11
1   2003-02-23
2   2012-01-01
3   1998-07-06
dtype: datetime64[ns]

# Create Date Ranges

In [2]:
pd.date_range(start= '2016-01-01', end= '2016-01-10', freq='D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

### freq can be changed to 2D or 3D

In [3]:
times = pd.date_range(start= '2016-01-01', end= '2016-01-10', freq='D')

In [4]:
type(times)

pandas.tseries.index.DatetimeIndex

In [5]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [6]:
type(times[0])

pandas.tslib.Timestamp

In [9]:
times = pd.date_range(start= '2016-01-01', end= '2016-01-13', freq='3D')
times

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-07', '2016-01-10',
               '2016-01-13'],
              dtype='datetime64[ns]', freq='3D')

### B = business days
-Saturday and Friday will be automatically excluded

In [10]:
times = pd.date_range(start= '2016-01-01', end= '2016-01-13', freq='B')
times

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13'],
              dtype='datetime64[ns]', freq='B')

### H = hours, can be incremented into different segments of hours

In [12]:
times = pd.date_range(start= '2016-01-01', end= '2016-01-13', freq='6H')

times

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

### M = months

In [14]:
times = pd.date_range(start= '2016-01-01', end= '2016-12-13', freq='M')

times

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

#### MS = month start

In [15]:
times = pd.date_range(start= '2016-01-01', end= '2016-12-13', freq='MS')

times

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

# Create date range part 2

In [16]:
pd.date_range(start='2012-09-12', periods= 25, freq='D')

DatetimeIndex(['2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
               '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
               '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
               '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
len(pd.date_range(start='2012-09-12', periods= 25, freq='D'))

25

In [18]:
pd.date_range(start='2012-09-12', periods= 25, freq='B')

DatetimeIndex(['2012-09-12', '2012-09-13', '2012-09-14', '2012-09-17',
               '2012-09-18', '2012-09-19', '2012-09-20', '2012-09-21',
               '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
               '2012-09-28', '2012-10-01', '2012-10-02', '2012-10-03',
               '2012-10-04', '2012-10-05', '2012-10-08', '2012-10-09',
               '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-15',
               '2012-10-16'],
              dtype='datetime64[ns]', freq='B')

In [19]:
len(pd.date_range(start='2012-09-12', periods= 25, freq='B'))

25

# A = years ex: freq = 'A'

In [20]:
pd.date_range(start='2012-09-12', periods= 25, freq='A')

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Date Range passing the end argument

In [22]:
pd.date_range(end='1999-12-31', periods=20, freq='M')

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

# DT accessor

In [1]:
import pandas as pd

In [3]:
dates = pd.date_range(start='2016-01-01', end='2016-12-31', freq='24D')
dates

DatetimeIndex(['2016-01-01', '2016-01-25', '2016-02-18', '2016-03-13',
               '2016-04-06', '2016-04-30', '2016-05-24', '2016-06-17',
               '2016-07-11', '2016-08-04', '2016-08-28', '2016-09-21',
               '2016-10-15', '2016-11-08', '2016-12-02', '2016-12-26'],
              dtype='datetime64[ns]', freq='24D')

In [5]:
s = pd.Series(dates)
s

0    2016-01-01
1    2016-01-25
2    2016-02-18
3    2016-03-13
4    2016-04-06
5    2016-04-30
6    2016-05-24
7    2016-06-17
8    2016-07-11
9    2016-08-04
10   2016-08-28
11   2016-09-21
12   2016-10-15
13   2016-11-08
14   2016-12-02
15   2016-12-26
dtype: datetime64[ns]

# use the dt. method to extract the day!!!

In [6]:
s.dt.day

0      1
1     25
2     18
3     13
4      6
5     30
6     24
7     17
8     11
9      4
10    28
11    21
12    15
13     8
14     2
15    26
dtype: int64

In [8]:
s.dt.month

0      1
1      1
2      2
3      3
4      4
5      4
6      5
7      6
8      7
9      8
10     8
11     9
12    10
13    11
14    12
15    12
dtype: int64

In [10]:
s.dt.weekday_name

0        Friday
1        Monday
2      Thursday
3        Sunday
4     Wednesday
5      Saturday
6       Tuesday
7        Friday
8        Monday
9      Thursday
10       Sunday
11    Wednesday
12     Saturday
13      Tuesday
14       Friday
15       Monday
dtype: object

In [2]:
import datetime as dt
from pandas_datareader import data as wb

In [4]:
company = 'TSLA'
start = '2010-01-01'
end = '2017-12-31'
stocks = wb.DataReader(company, data_source='google', start=start, end=end)
stocks.head()

             Open   High    Low  Close    Volume
Date
2010-06-29  19.00  25.00  17.54  23.89  18783276
2010-06-30  25.79  30.42  23.30  23.83  17194394
2010-07-01  25.00  25.92  20.27  21.96   8229863
2010-07-02  23.00  23.10  18.71  19.20   5141807
2010-07-06  20.00  20.00  15.83  16.11   6879296

### Various mrthods we call on our stock object

In [18]:
stocks.values
stocks.columns
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05',
               '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
               '2017-05-12', '2017-05-15'],
              dtype='datetime64[ns]', name='Date', length=1853, freq=None)

In [19]:
stocks.index[0]

Timestamp('2010-01-04 00:00:00')

## Use loc to call either one datetimeindex or a range datetime index

In [22]:
stocks.loc["2017-01"]

             Open   High    Low  Close    Volume
Date
2017-01-03  62.79  62.84  62.12  62.58  20694101
2017-01-04  62.48  62.75  62.12  62.30  21339969
2017-01-05  62.19  62.66  62.03  62.30  24875968
2017-01-06  62.30  63.15  62.04  62.84  19922919
2017-01-09  62.76  63.08  62.54  62.64  20382730
2017-01-10  62.73  63.07  62.28  62.62  18593004
2017-01-11  62.61  63.23  62.43  63.19  21517335
2017-01-12  63.06  63.40  61.95  62.61  20968223
2017-01-13  62.62  62.86  62.35  62.70  19422310
2017-01-17  62.68  62.70  62.03  62.53  20663983
2017-01-18  62.67  62.70  62.12  62.50  19670102
2017-01-19  62.24  62.98  62.20  62.30  18451655
2017-01-20  62.67  62.82  62.37  62.74  30213462
2017-01-23  62.70  63.12  62.57  62.96  23097581
2017-01-24  63.20  63.74  62.94  63.52  24672940
2017-01-25  63.95  64.10  63.45  63.68  24654933
2017-01-26  64.12  64.54  63.55  64.27  43554645
2017-01-27  65.39  65.91  64.89  65.78  44817972
2017-01-30  65.69  65.79  64.80  65.13  31651445
2017-01-31  64.86  65.15  64.26  64.65  25270549

## Use ix.()  to call a range of dates and 2 columns

In [24]:
stocks.ix['2017-01', ['Open', 'Close']]

             Open  Close
Date
2017-01-03  62.79  62.58
2017-01-04  62.48  62.30
2017-01-05  62.19  62.30
2017-01-06  62.30  62.84
2017-01-09  62.76  62.64
2017-01-10  62.73  62.62
2017-01-11  62.61  63.19
2017-01-12  63.06  62.61
2017-01-13  62.62  62.70
2017-01-17  62.68  62.53
2017-01-18  62.67  62.50
2017-01-19  62.24  62.30
2017-01-20  62.67  62.74
2017-01-23  62.70  62.96
2017-01-24  63.20  63.52
2017-01-25  63.95  63.68
2017-01-26  64.12  64.27
2017-01-27  65.39  65.78
2017-01-30  65.69  65.13
2017-01-31  64.86  64.65

In [26]:
stocks.loc['2017-02-01':'2017-02-08', ['High', 'Low']]

             High    Low
Date
2017-02-01  64.62  63.47
2017-02-02  63.41  62.75
2017-02-03  63.70  63.07
2017-02-06  63.65  63.14
2017-02-07  63.78  63.23
2017-02-08  63.81  63.22

In [29]:
birthdays = pd.date_range(start='1973-02-01', end='2017-02-01', freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1973-02-01', '1974-02-01', '1975-02-01', '1976-02-01',
               '1977-02-01', '1978-02-01', '1979-02-01', '1980-02-01',
               '1981-02-01', '1982-02-01', '1983-02-01', '1984-02-01',
               '1985-02-01', '1986-02-01', '1987-02-01', '1988-02-01',
               '1989-02-01', '1990-02-01', '1991-02-01', '1992-02-01',
               '1993-02-01', '1994-02-01', '1995-02-01', '1996-02-01',
               '1997-02-01', '1998-02-01', '1999-02-01', '2000-02-01',
               '2001-02-01', '2002-02-01', '2003-02-01', '2004-02-01',
               '2005-02-01', '2006-02-01', '2007-02-01', '2008-02-01',
               '2009-02-01', '2010-02-01', '2011-02-01', '2012-02-01',
               '2013-02-01', '2014-02-01', '2015-02-01', '2016-02-01',
               '2017-02-01'],
              dtype='datetime64[ns]', freq='<DateOffset: kwds={'years': 1}>')

# Insert method to add a column

In [33]:
stocks.insert(0, 'day_week', stocks.index.weekday_name)

ValueError: cannot insert day_week, already exists

In [35]:
stocks.head()

             day_week   Open   High    Low  Close    Volume
Date
2010-01-04     Monday  30.62  31.10  30.59  30.95  38414185
2010-01-05    Tuesday  30.85  31.10  30.64  30.96  49758862
2010-01-06  Wednesday  30.88  31.08  30.52  30.77  58182332
2010-01-07   Thursday  30.63  30.70  30.19  30.45  50564285
2010-01-08     Friday  30.28  30.88  30.24  30.66  51201289

In [38]:
stocks.insert(1, "start_mo", stocks.index.is_month_start)

ValueError: cannot insert start_mo, already exists

In [43]:
stocks[stocks['start_mo']].head()

             day_week start_mo   Open   High    Low  Close    Volume
Date
2010-02-01     Monday     True  28.39  28.48  27.92  28.41  85931099
2010-03-01     Monday     True  28.77  29.05  28.53  29.02  43805302
2010-06-01    Tuesday     True  25.53  26.31  25.52  25.89  76155453
2010-07-01   Thursday     True  23.09  23.32  22.73  23.16  92239399
2010-09-01  Wednesday     True  23.67  23.95  23.54  23.90  65235852

# Truncate method

In [44]:
stocks.truncate(before='2010-01-01', after='2010-01-31')

             day_week start_mo   Open   High    Low  Close     Volume
Date
2010-01-04     Monday    False  30.62  31.10  30.59  30.95   38414185
2010-01-05    Tuesday    False  30.85  31.10  30.64  30.96   49758862
2010-01-06  Wednesday    False  30.88  31.08  30.52  30.77   58182332
2010-01-07   Thursday    False  30.63  30.70  30.19  30.45   50564285
2010-01-08     Friday    False  30.28  30.88  30.24  30.66   51201289
2010-01-11     Monday    False  30.71  30.76  30.12  30.27   68754648
2010-01-12    Tuesday    False  30.15  30.40  29.91  30.07   65913228
2010-01-13  Wednesday    False  30.26  30.52  30.01  30.35   51863463
2010-01-14   Thursday    False  30.31  31.10  30.26  30.96   63244767
2010-01-15     Friday    False  31.08  31.24  30.71  30.86   79915648
2010-01-19    Tuesday    False  30.75  31.24  30.68  31.10   46582886
2010-01-20  Wednesday    False  30.81  30.94  30.31  30.58   54857712
2010-01-21   Thursday    False  30.61  30.72  30.00  30.01   73086701
2010-01-22     Friday    False  30.00  30.20  28.84  28.96  102004573
2010-01-25     Monday    False  29.24  29.66  29.10  29.32   63381173
2010-01-26    Tuesday    False  29.20  29.85  29.09  29.50   66647676
2010-01-27  Wednesday    False  29.35  29.82  29.02  29.67   63949492
2010-01-28   Thursday    False  29.84  29.87  28.89  29.16  117513692
2010-01-29     Friday    False  29.90  29.92  27.66  28.18  193888424

# DateOffset method
- dt.datetime.now(

In [47]:
goo = wb.DataReader(name ='GOOG', data_source='google', 
              start=dt.date(2000,1,1), end=dt.datetime.now())
goo.tail()

              Open    High     Low   Close     Volume
Date
2017-05-09  936.95  937.50  929.53  932.17  1581809.0
2017-05-10  931.98  932.00  925.16  928.78  1173925.0
2017-05-11  925.32  932.53  923.03  930.60   835386.0
2017-05-12  931.53  933.44  927.85  932.22  1050601.0
2017-05-15  932.95  938.25  929.34  937.08  1108148.0

### Adds 5 days : DateOffset

In [48]:
goo.index + pd.DateOffset(days = 5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10',
               '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-20'],
              dtype='datetime64[ns]', name='Date', length=3206, freq=None)

In [54]:
#%cd Python
#%ls

Copy of Bayes worksheet.xlsx  Matplotlib&Numpy/
Data_Files/                   Time Series/
Kite (0.20170424.0).app/      scipy_ref/
Machine_Learning__TEMPLATES/

In [55]:
%cd /Users/jimdoone/Desktop/pandas_data_files

/Users/jimdoone/Desktop/pandas_data_files

### Timedelta

In [63]:
shipping = pd.read_csv('ecommerce.csv', index_col='ID', parse_dates=['order_date', 'delivery_date'])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [65]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']

In [66]:
shipping.head()

   order_date delivery_date  delivery_time
ID
1  1998-05-24    1999-02-05       257 days
2  1992-04-22    1998-03-06      2144 days
4  1991-02-10    1992-08-26       563 days
5  1992-07-21    1997-11-20      1948 days
7  1993-09-02    1998-06-10      1742 days

In [67]:
shipping['delivery_date'] + shipping['delivery_time']

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
8     1994-04-14
9     1999-06-09
10    2005-11-05
11    1998-07-16
18    2000-02-08
19    1998-05-28
20    2004-09-24
23    2006-10-30
26    2000-05-26
30    1999-04-02
32    2007-01-25
33    1998-11-03
35    1998-12-15
36    1997-11-16
39    1995-11-27
41    2000-08-12
46    1997-06-02
50    2007-09-30
52    2000-01-24
53    2001-01-15
54    1999-11-30
58    1995-06-19
59    1996-03-03
60    1998-01-25
63    2000-05-13
         ...
932   1998-12-23
934   1995-08-30
935   2005-08-16
938   1997-11-04
939   1999-02-12
942   2002-01-20
943   2008-10-03
945   1996-11-09
946   2000-10-16
947   2007-06-04
949   1992-04-08
951   1996-11-02
953   1996-12-18
954   1994-07-10
956   2002-05-30
957   2004-05-17
958   2004-09-01
969   1997-01-08
972   2001-08-02
975   1998-03-19
981   1999-04-05
983   2000-02-26
984   2006-08-27
985   1997-05-12
986   1994-12-23
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
dtype: datetime64[ns]