In [1]:
import pandas as pd

##### Parameters
- START
- END
- FREQ
##### To use datetime index pass it thru a series constructor
- see below

In [3]:
time = pd.date_range(start = "1973-02-01", end = "1973-09-01", freq="MS")
time

DatetimeIndex(['1973-02-01', '1973-03-01', '1973-04-01', '1973-05-01',
               '1973-06-01', '1973-07-01', '1973-08-01', '1973-09-01'],
              dtype='datetime64[ns]', freq='MS')

##### `Datetime index

In [4]:
type(time)

pandas.core.indexes.datetimes.DatetimeIndex

##### Index into the index

In [5]:
time[1]

Timestamp('1973-03-01 00:00:00', freq='MS')

##### The freq() argument 
- D = days
- B = Business days
- W = week
- H = hour
- M = Month: returns the end of the month
- MS + Month start
- A = year end

In [6]:
time = pd.date_range(start = "1973-02-01", end = "1973-09-01", freq="2D")
time

DatetimeIndex(['1973-02-01', '1973-02-03', '1973-02-05', '1973-02-07',
               '1973-02-09', '1973-02-11', '1973-02-13', '1973-02-15',
               '1973-02-17', '1973-02-19',
               ...
               '1973-08-14', '1973-08-16', '1973-08-18', '1973-08-20',
               '1973-08-22', '1973-08-24', '1973-08-26', '1973-08-28',
               '1973-08-30', '1973-09-01'],
              dtype='datetime64[ns]', length=107, freq='2D')

In [7]:
time = pd.date_range(start = "1973-02-01", end = "1973-09-01", freq="B")
time

DatetimeIndex(['1973-02-01', '1973-02-02', '1973-02-05', '1973-02-06',
               '1973-02-07', '1973-02-08', '1973-02-09', '1973-02-12',
               '1973-02-13', '1973-02-14',
               ...
               '1973-08-20', '1973-08-21', '1973-08-22', '1973-08-23',
               '1973-08-24', '1973-08-27', '1973-08-28', '1973-08-29',
               '1973-08-30', '1973-08-31'],
              dtype='datetime64[ns]', length=152, freq='B')

##### Iincrements of 6 hours = 6H

In [8]:
time = pd.date_range(start = "1973-02-01", end = "1973-09-01", freq="6H")
time

DatetimeIndex(['1973-02-01 00:00:00', '1973-02-01 06:00:00',
               '1973-02-01 12:00:00', '1973-02-01 18:00:00',
               '1973-02-02 00:00:00', '1973-02-02 06:00:00',
               '1973-02-02 12:00:00', '1973-02-02 18:00:00',
               '1973-02-03 00:00:00', '1973-02-03 06:00:00',
               ...
               '1973-08-29 18:00:00', '1973-08-30 00:00:00',
               '1973-08-30 06:00:00', '1973-08-30 12:00:00',
               '1973-08-30 18:00:00', '1973-08-31 00:00:00',
               '1973-08-31 06:00:00', '1973-08-31 12:00:00',
               '1973-08-31 18:00:00', '1973-09-01 00:00:00'],
              dtype='datetime64[ns]', length=849, freq='6H')

##### Periods parameter
- the periods parameter will create x number of periods of the freq = type parameter

In [9]:
pd.date_range(start = "1973-02-01", periods= 25, freq="D")

DatetimeIndex(['1973-02-01', '1973-02-02', '1973-02-03', '1973-02-04',
               '1973-02-05', '1973-02-06', '1973-02-07', '1973-02-08',
               '1973-02-09', '1973-02-10', '1973-02-11', '1973-02-12',
               '1973-02-13', '1973-02-14', '1973-02-15', '1973-02-16',
               '1973-02-17', '1973-02-18', '1973-02-19', '1973-02-20',
               '1973-02-21', '1973-02-22', '1973-02-23', '1973-02-24',
               '1973-02-25'],
              dtype='datetime64[ns]', freq='D')

##### If freq = B  and periods = 25, the datetime index will skip non-business days

In [10]:
pd.date_range(start = "2000-01-01", periods=50, freq='B')

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-17', '2000-01-18',
               '2000-01-19', '2000-01-20', '2000-01-21', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-31', '2000-02-01', '2000-02-02', '2000-02-03',
               '2000-02-04', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-14', '2000-02-15',
               '2000-02-16', '2000-02-17', '2000-02-18', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-28', '2000-02-29', '2000-03-01', '2000-03-02',
               '2000-03-03', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10'],
              dtype='datetime64[ns]', freq='B')

###### Seconds

In [14]:
seconds = pd.date_range(start = "2000-01-01", periods=50, freq='s')
seconds

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:00:01',
               '2000-01-01 00:00:02', '2000-01-01 00:00:03',
               '2000-01-01 00:00:04', '2000-01-01 00:00:05',
               '2000-01-01 00:00:06', '2000-01-01 00:00:07',
               '2000-01-01 00:00:08', '2000-01-01 00:00:09',
               '2000-01-01 00:00:10', '2000-01-01 00:00:11',
               '2000-01-01 00:00:12', '2000-01-01 00:00:13',
               '2000-01-01 00:00:14', '2000-01-01 00:00:15',
               '2000-01-01 00:00:16', '2000-01-01 00:00:17',
               '2000-01-01 00:00:18', '2000-01-01 00:00:19',
               '2000-01-01 00:00:20', '2000-01-01 00:00:21',
               '2000-01-01 00:00:22', '2000-01-01 00:00:23',
               '2000-01-01 00:00:24', '2000-01-01 00:00:25',
               '2000-01-01 00:00:26', '2000-01-01 00:00:27',
               '2000-01-01 00:00:28', '2000-01-01 00:00:29',
               '2000-01-01 00:00:30', '2000-01-01 00:00:31',
               '2000-01-01 00:00:32', '2000-01-01 00:00:33',
               '2000-01-01 00:00:34', '2000-01-01 00:00:35',
               '2000-01-01 00:00:36', '2000-01-01 00:00:37',
               '2000-01-01 00:00:38', '2000-01-01 00:00:39',
               '2000-01-01 00:00:40', '2000-01-01 00:00:41',
               '2000-01-01 00:00:42', '2000-01-01 00:00:43',
               '2000-01-01 00:00:44', '2000-01-01 00:00:45',
               '2000-01-01 00:00:46', '2000-01-01 00:00:47',
               '2000-01-01 00:00:48', '2000-01-01 00:00:49'],
              dtype='datetime64[ns]', freq='S')

In [16]:
days = pd.date_range(start = "2000-01-01", periods=50, freq='D')
days

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19'],
              dtype='datetime64[ns]', freq='D')

##### dt. accessor
##### to use the st. accessor, the date_range object must be passed in a Series

In [18]:
days = pd.Series(days)

In [19]:
days.dt.day

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31     1
32     2
33     3
34     4
35     5
36     6
37     7
38     8
39     9
40    10
41    11
42    12
43    13
44    14
45    15
46    16
47    17
48    18
49    19
dtype: int64

##### dt.weekday_name return the name of the week day

In [20]:
days.dt.weekday_name

0      Saturday
1        Sunday
2        Monday
3       Tuesday
4     Wednesday
5      Thursday
6        Friday
7      Saturday
8        Sunday
9        Monday
10      Tuesday
11    Wednesday
12     Thursday
13       Friday
14     Saturday
15       Sunday
16       Monday
17      Tuesday
18    Wednesday
19     Thursday
20       Friday
21     Saturday
22       Sunday
23       Monday
24      Tuesday
25    Wednesday
26     Thursday
27       Friday
28     Saturday
29       Sunday
30       Monday
31      Tuesday
32    Wednesday
33     Thursday
34       Friday
35     Saturday
36       Sunday
37       Monday
38      Tuesday
39    Wednesday
40     Thursday
41       Friday
42     Saturday
43       Sunday
44       Monday
45      Tuesday
46    Wednesday
47     Thursday
48       Friday
49     Saturday
dtype: object

##### is_quarter start returns a boolean

In [21]:
days.dt.is_quarter_start

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool