In [2]:
import pandas as pd
pd.set_option('display.max_rows', 6)

In [7]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [8]:
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

In [11]:
URL = 'https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv'
df = pd.read_csv(URL)
df

       BRTH_YR    GNDR              ETHCTY         NM  CNT  RNK
0         2011  FEMALE            HISPANIC  GERALDINE   13   75
1         2011  FEMALE            HISPANIC        GIA   21   67
2         2011  FEMALE            HISPANIC     GIANNA   49   42
...        ...     ...                 ...        ...  ...  ...
13959     2014    MALE  WHITE NON HISPANIC      Yusuf   16   96
13960     2014    MALE  WHITE NON HISPANIC    Zachary   90   39
13961     2014    MALE  WHITE NON HISPANIC        Zev   49   65

[13962 rows x 6 columns]

##### Export file 
##### Title of file goes in quotation marks
##### Must include the file call name : .csv
##### To exclude the index, add the parameter: index = False
##### To export selected columns: columns = []
##### encoding = 'utf-8'

In [ ]:
df.to_csv("NYC_babyname.csv", index=False, columns = ['BRTH_YR', 'NM', 'CNT'])