In [1]:
import pandas as pd

In [7]:
#%cd pandas_data_files/
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

In [20]:
df = pd.read_csv('bigmac.csv', index_col=['Country','Date'], squeeze=True)
df.head()

Country    Date
Argentina  1/2016    2.39
Australia  1/2016    3.74
Brazil     1/2016    3.35
Britain    1/2016    4.22
Canada     1/2016    4.14
Name: Price in US Dollars, dtype: float64

##### get() used with a series
##### used the 'squeeze=True' argument to convert dataframe into a series
##### Country had to be the outer-most index

In [21]:
df.get(key = 'Brazil', default='Not Listed')

Date
1/2016    3.35
7/2015    4.28
1/2015    5.21
7/2014    5.86
1/2014    5.25
7/2013    5.28
1/2013    5.64
7/2012    4.94
1/2012    5.68
7/2011    6.16
7/2010    4.91
1/2010    4.76
Name: Price in US Dollars, dtype: float64

##### get() 2 keys

In [22]:
df.get(key = ['Brazil', 'Japan'], default = 'Not listed')

Country  Date
Brazil   1/2016    3.35
         7/2015    4.28
         1/2015    5.21
         7/2014    5.86
         1/2014    5.25
         7/2013    5.28
         1/2013    5.64
         7/2012    4.94
         1/2012    5.68
         7/2011    6.16
         7/2010    4.91
         1/2010    4.76
Japan    1/2016    3.12
         7/2015    2.99
         1/2015    3.14
         7/2014    3.64
         1/2014    2.97
         7/2013    3.20
         1/2013    3.51
         7/2012    4.09
         1/2012    4.16
         7/2011    4.08
         7/2010    3.67
         1/2010    3.50
Name: Price in US Dollars, dtype: float64

##### get() to extract an element

In [24]:
bm = pd.read_csv('bigmac.csv')
bm.head()

     Date    Country  Price in US Dollars
0  1/2016  Argentina                 2.39
1  1/2016  Australia                 3.74
2  1/2016     Brazil                 3.35
3  1/2016    Britain                 4.22
4  1/2016     Canada                 4.14

##### split() elements into separate elements

In [27]:
bm['Date'] = bm['Date'].str.split('/')
bm['Date']

0      [1, 2016]
1      [1, 2016]
2      [1, 2016]
3      [1, 2016]
4      [1, 2016]
5      [1, 2016]
6      [1, 2016]
7      [1, 2016]
8      [1, 2016]
9      [1, 2016]
10     [1, 2016]
11     [1, 2016]
12     [1, 2016]
13     [1, 2016]
14     [1, 2016]
15     [1, 2016]
16     [1, 2016]
17     [1, 2016]
18     [1, 2016]
19     [1, 2016]
20     [1, 2016]
21     [1, 2016]
22     [1, 2016]
23     [1, 2016]
24     [1, 2016]
25     [1, 2016]
26     [1, 2016]
27     [1, 2016]
28     [1, 2016]
29     [1, 2016]
         ...
622    [1, 2010]
623    [1, 2010]
624    [1, 2010]
625    [1, 2010]
626    [1, 2010]
627    [1, 2010]
628    [1, 2010]
629    [1, 2010]
630    [1, 2010]
631    [1, 2010]
632    [1, 2010]
633    [1, 2010]
634    [1, 2010]
635    [1, 2010]
636    [1, 2010]
637    [1, 2010]
638    [1, 2010]
639    [1, 2010]
640    [1, 2010]
641    [1, 2010]
642    [1, 2010]
643    [1, 2010]
644    [1, 2010]
645    [1, 2010]
646    [1, 2010]
647    [1, 2010]
648    [1, 2010]
649    [1, 2010]
650    [1, 2010]
651    [1, 2010]
Name: Date, dtype: object

##### str() must precede get() when operating on a pandas dataframe
##### REMEMBER 0 is the first element

In [30]:
bm['Date'].str.get(1)

0      2016
1      2016
2      2016
3      2016
4      2016
5      2016
6      2016
7      2016
8      2016
9      2016
10     2016
11     2016
12     2016
13     2016
14     2016
15     2016
16     2016
17     2016
18     2016
19     2016
20     2016
21     2016
22     2016
23     2016
24     2016
25     2016
26     2016
27     2016
28     2016
29     2016
       ...
622    2010
623    2010
624    2010
625    2010
626    2010
627    2010
628    2010
629    2010
630    2010
631    2010
632    2010
633    2010
634    2010
635    2010
636    2010
637    2010
638    2010
639    2010
640    2010
641    2010
642    2010
643    2010
644    2010
645    2010
646    2010
647    2010
648    2010
649    2010
650    2010
651    2010
Name: Date, dtype: object