In [1]:
import pandas as pd

In [4]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [6]:
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

In [10]:
pd.set_option('display.max_rows', 6)
df = pd.read_csv('jamesbond.csv', index_col='Film')
df.sort_index(inplace=True)
df

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
...,...,...,...,...,...,...
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

##### loc() Method 
- use loc to pass name of index

In [11]:
df.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

##### Pass a range

In [12]:
df.loc['Goldfinger' : 'Moonraker']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

##### 2 or more values in double brackets

In [13]:
df.loc[['Goldfinger', 'Moonraker']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

##### loc() pass rows and columns

In [16]:
df.loc['Goldfinger', 'Director':'Budget']

Director      Guy Hamilton
Box Office           820.4
Budget                18.6
Name: Goldfinger, dtype: object

In [17]:
df.loc['Goldfinger', ['Director', 'Bond Actor Salary']]

Director             Guy Hamilton
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

##### iloc() method takes index positions in numerals

In [14]:
df.iloc[:4]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

##### pass rows , pass columns

In [15]:
df.iloc[:4, 1:3]

                             Actor         Director
Film
A View to a Kill       Roger Moore        John Glen
Casino Royale         Daniel Craig  Martin Campbell
Casino Royale          David Niven       Ken Hughes
Diamonds Are Forever  Sean Connery     Guy Hamilton

   ##### When the column is known, locate the value with a Mask

In [20]:
df['Actor'] == 'Sean Connery'

Film
A View to a Kill       False
Casino Royale          False
Casino Royale          False
                       ...
Thunderball             True
Tomorrow Never Dies    False
You Only Live Twice     True
Name: Actor, Length: 26, dtype: bool

In [21]:
mask = df['Actor'] == 'Sean Connery'
df[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
...,...,...,...,...,...,...
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

##### A condition and a mask

In [23]:
df[df['Actor'] == 'Roger Moore']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
...,...,...,...,...,...,...
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [25]:
mask = df['Actor'] == 'Roger Moore'
df[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
...,...,...,...,...,...,...
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [27]:
df['Budget'] > 60

Film
A View to a Kill       False
Casino Royale           True
Casino Royale           True
                       ...
Thunderball            False
Tomorrow Never Dies     True
You Only Live Twice    False
Name: Budget, Length: 26, dtype: bool

In [28]:
mask = df['Budget'] > 60
df[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
...,...,...,...,...,...,...
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0