In [12]:
import pandas as pd
pd.set_option('display.max_rows', 8)

In [8]:
%ls

Baby_Names.xlsx                       employees.csv
Data - Multiple Worksheets.xlsx       foods.csv
Data - Single Worksheet.xlsx          fortune1000.csv
Restaurant - Customers.csv            google_stock_price.csv
Restaurant - Foods.csv                jamesbond.csv
Restaurant - Week 1 Sales.csv         nba.csv
Restaurant - Week 1 Satisfaction.csv  pokemon.csv
Restaurant - Week 2 Sales.csv         quarters.csv
bigmac.csv                            revenue.csv
chicago.csv                           salesmen.csv
ecommerce.csv                         worldstats.csv

In [7]:
%cd pandas_data_files/

/Users/jimdoone/Desktop/pandas_data_files

In [13]:
df = pd.read_csv('bigmac.csv', index_col=['Date', 'Country'])
df

                      Price in US Dollars
Date   Country
1/2016 Argentina                     2.39
       Australia                     3.74
       Brazil                        3.35
       Britain                       4.22
...                                   ...
1/2010 UAE                           2.99
       Ukraine                       1.83
       United States                 3.58
       Uruguay                       3.32

[652 rows x 1 columns]

In [16]:
df.index.set_names(['Day', 'Location'], inplace=True)
df

                      Price in US Dollars
Day    Location
1/2016 Argentina                     2.39
       Australia                     3.74
       Brazil                        3.35
       Britain                       4.22
...                                   ...
1/2010 UAE                           2.99
       Ukraine                       1.83
       United States                 3.58
       Uruguay                       3.32

[652 rows x 1 columns]